.listHeader {
  font-family: Lato;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.listDescription {
  font-family: Lato;
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 14px;
  text-align: center;
}

.itemName{
  border: 1px solid #b8b8b8;
  width: 24%;
  padding: 10px;
  border-radius: 3px;
  color: #545454 !important;
  font-family: Lato !important;
  font-size: 16px;
  margin: 0px 3px;
}

.itemTags{
  border: 1px solid #b8b8b8;
  width: 58%;
  padding: 10px;
  border-radius: 3px;
  color: #545454 !important;
  font-family: Lato;
  font-size: 16px;
  margin: 0px 3px;
}

.createNewItem {
  border: 1px solid #b8b8b8;
  // width: 300px;
  width: 15%;
  padding: 10px;
  border-radius: 3px;
  color: #fff;
  background-color: #3881C2;
  font-family: Lato;
  font-size: 16px;
  margin: 0px 3px;
}

.filterItem{
  border: 1px solid #b8b8b8;
  width: 24%;
  padding: 10px;
  border-radius: 3px;
  color: #545454 !important;
  font-family: Lato !important;
  font-size: 16px;
  margin: 0px 3px;
  display: inline-block;
}

.filterTags{
  border: 1px solid #b8b8b8;
  width: 41%;
  padding: 10px;
  border-radius: 3px;
  color: #545454 !important;
  font-family: Lato !important;
  font-size: 16px;
  margin: 0px 3px;
  display: inline-block;
}

.filterByPurchased {
  border: 1px solid #b8b8b8;
  width: 32%;
  padding: 10px;
  border-radius: 3px;
  color: #545454 !important;
  font-family: Lato;
  font-size: 16px;
  margin: 0px 3px;
}

label {
  display: block;
}


.addItemForm {
  display: inline-block;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 25px;
}
.shoppingList{
  padding-top: 15px;
  padding-bottom: 15px;
}
.filtersHeader {
  text-align: left;
  font-family: Lato;
  font-size: 20px;
}
.tableHeader {
  text-align: left;
  font-family: Lato;
  font-size: 20px;

}

.tableItem {
  text-align: left;
  line-height: 20px;
  font-size: 16px;
  font-family: Lato;
  font-weight: 300;
}

.tableColumn {
  text-align: left;
  .ul {
    padding-left:0px;
  }
}

.deleteButton {
  background-color: #D2403D !important;
  color: #fff !important;
  height: 28px;
  line-height: 10px;
  font-family: Lato;
  font-weight: 300;
}

.total {
  text-align: left;
  font-family: Lato;
  font-size: 20px
}

.totalItem{
  display: block;
}

// Settings
.thumbnailUser {
  width: 124px;
  height: 124px;
  border: solid #B8B8B8;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 124px;
}