<div ng-include="'components/navbar/navbar.html'"></div>
<br>
<div class="col-md-12">
  <div class="container" ng-show="listData">
    <div class="headerSection col-md-3">
        <h3 class="listHeader headerInline">{{listData.name}}</h3>
        <button class="btn btn-danger deleteList" ng-click="ListSettings.deleteList()">Delete List</button>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div>
          <h3 class="listHeader headerInline">List Members</h3>
        </div>
        <div class="col-md-12 holdingMembers">
          <ul class="listOfAllMembers" ng-repeat="user in listData.users">
              <li class="memberName">{{user.name}}
                <!-- <button type="button" class="close" ng-click="ListSettings.removeUser(user)">&times;</button> -->
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row addMemberRow">
        <div>
          <h3 class="listHeader headerInline">Add Members
            <p class="listDescription">(Please have them sign up first.)</p>
          </h3>
        </div>
        <div>
          <input class="addUserInput" ng-model="ListSettings.invite.email" placeholder="User Email Address" required></input>
          <button class="addUserButton" ng-click="ListSettings.addUser(ListSettings.invite)">Submit</button>
          <p>{{ListSettings.invite.message}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container" ng-show=" !listData">
    <div class="headerSection">
      <h3 class="listHeader headerInline">I'm sorry - this list has been deleted.</h3>
    </div>
  </div>
</div>
