<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-12">
  <div class="container" ng-show="listData">
    <div class="headerSection">
        <h3 class="listHeader headerInline">{{listData.name}} Settings</h3>
        <button class="btn btn-danger deleteList" ng-click="ListSettings.deleteList()">Delete List</button>
    </div>
    <h3 class="listHeader">Users</h3>
    <div class="col-md-12 usersChart">
      <div class="row" ng-repeat="user in listData.users">
        <div class="col-md-2 thumbnailUser">
          {{user.name}}
        </div>
      </div>
    </div>
  </div>
  <div class="container" ng-show=" !listData">
    <div class="headerSection">
      <h3 class="listHeader headerInline">I'm sorry - this list has been deleted.</h3>
    </div>
  </div>
</div>
