<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-12">
  <div class="container">
    <h3 class="listHeader">{{listData.name}}</h3>
    <p class="listDescription" ng-if="listData.description !== ''">{{listData.description}}</p>
    <h3 class="listHeader">Add an Item to Your List</h3>
    <div class="col-md-12 addItemForm">
      <form name="itemForm" ng-submit="List.addItem(List.newItem)">
        <div class="row">
          <input class="itemName col-md-3" ng-model="List.newItem.name" placeholder="Item Name" name="itemName" required/>
          <input class="itemTags col-md-7" name="formName" placeholder="Tags separated by commas" ng-model="List.newItem.tags"/>
<!--           <input class="itemInput col-md-3" ng-model="List.newItem.notes" placeholder="Notes" name="itemNotes"/> -->
          <input class="createNewItem" type="submit" value="Add Item">
        </div>
      </form>
    </div>
    <h3 class="listHeader">Shopping List</h3>
    <div ng-show="listData.items.length" class="col-md-12 shoppingList">
      <div class="searchDiv">
        <div class="row">
          <!-- <label>Filter by Item Name</label> -->
          <input class="filterItem col-md-3" ng-model="searchFilter.name" placeholder="Filter by Item Name"/>
          <input class="filterTags col-md-7" name="formName" placeholder="Filter by tags separated by commas" ng-model="tagsModel"/>
          <div class="filterByPurchased col-md-2">
            Filter by Purchased:
            Yes<input type="checkbox" ng-model="searchFilter.purchased" ng-true-value="true" ng-false-value="false"/>
            No  <input type="checkbox" ng-model="searchFilter.purchased" ng-true-value="false" ng-false-value="true"/>
          </div>
        </div>
      </div>
      <div class="shoppingList">
        <div class="row">
          <div class="col-md-3 tableHeader">
            Item Name
          </div>
          <div class="col-md-3 tableHeader">
            Tags
          </div>
          <div class="col-md-2 tableHeader">
            Price
          </div>
          <div class="col-md-2 tableHeader">
            Purchased?
          </div>
          <div class="col-md-2 tableHeader">
            Delete
          </div>
        </div><!-- row -->
        <div ng-repeat="item in listData.items | orderBy:'purchased' | filter:searchFilter | filter:tagFilter ">
          <div class="row">
            <div class="col-md-3 tableColumn">
              <p class="tableItem">{{item.name}}</p>
            </div>
            <div class="col-md-3 tableColumn">
              <div class="tableColumn" ng-repeat="tag in item.tags track by $index">
                <p class="tableItem">{{tag}}</p>
              </div>
            </div>
            <div class="col-md-2 tableColumn">
              <p class="tableItem">${{item.price}}</p>
            </div>
            <div class="col-md-2 tableColumn">
              <p class="tableItem"><input type="checkbox" ng-model="item.purchased" ng-click="List.updateStatus(item)" </p>
            </div>
            <div class="col-md-2 tableColumn">
              <button class="btn deleteButton" ng-click="List.deleteItem(item)">Delete
              </button>
            </div>
          </div> <!-- row -->
        </div class=> <!-- item ng-repeat -->
        <div class="total">
          <p class="totalItem">Money Spent: ${{List.dollarsSpent}} </p>
          <p class="totalItem">Remaining Costs: ${{List.remainingCosts}}</p>
          <p class="totalItem">Total Cost: ${{listData.total}}</p>
        </div><!-- total -->
      </div><!-- shoppinglist w/o search -->
    </div><!-- shoppinglist w/ search -->
  </div><!-- container -->
</div><!-- col md 12 -->
