<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-12">
  <div class="container">
    <ul>
      <li>Show everyone in the list</li>
      <li>Add/Delete users from the list</li>
      <li>Archive List</li>
    </ul>
    <div class="headerSection">
      <h3 class="listHeader headerInline">{{listData.name}} (<p class="listDescription" ng-if="listData.description !== ''">{{listData.description}}</p>)</h3>
    </div>
    <h3 class="listHeader">Users</h3>
    <div class="col-md-12 usersChart">
      <div class="row" ng-repeat="user in listData.users">
        <div class="col-md-2 thumbnailUser">
          {{user.name}}
        </div>
      </div>
    </div>
  </div>
</div>
