#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1px;
    vertical-align: center;
    font-family: Lato;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #428bca;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    font-family: Lato;
    height: 400px;
}